
{% block content %}
{% load staticfiles %}

<p>Hunting is the practice of killing or trapping animals, or pursuing or tracking them with the intent of doing so. Hunting wildlife or feral animals is most commonly done by humans for food, recreation, to remove predators that are dangerous to humans or domestic animals, or for trade. Lawful hunting is distinguished from poaching, which is the illegal killing, trapping or capture of the hunted species. The species that are hunted are referred to as game or prey and are usually mammals and birds.

Hunting can also be a means of pest control. Hunting advocates state that hunting can be a necessary component[1] of modern wildlife management, for example, to help maintain a population of healthy animals within an environment's ecological carrying capacity when natural checks such as predators are absent or very rare.[2] However, hunting has also heavily contributed to the endangerment, extirpation and extinction of many animals.[3]

The pursuit, capture and release, or capture for food of fish is called fishing, which is not commonly categorised as a form of hunting. It is also not considered hunting to pursue animals without intent to kill them, as in wildlife photography, birdwatching, or scientific research activities which involve tranquilizing and/or tagging of animals or birds. The practice of foraging or gathering materials from plants and mushrooms is also considered separate from hunting.

Skillful tracking and acquisition of an elusive target has caused the word hunt to be used in the vernacular as a metaphor, as in treasure hunting, "bargain hunting", and even "hunting down corruption and waste.</p>



{% endblock %}